table,td{
    border : 1px;
    border-radius: 1px;
    border-style:solid;
    font-size: 15px;
    border-collapse : collapse;
    text-align: center;
    padding : 10px;
    font-family: Arial, Helvetica, sans-serif;
    }
    